{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

		<table style="width:30%">
		<h2><center>DOCUMENTS</center></h2>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
<tr style="height:30%">
    <th>ID</th>
    <th><b>Name</b></th>
    <th><b>Documents</b></th>
  
  </tr>
  {% for i in data %}
  <tr>
      <td>
          {{i.id}}
      </td> 
    <td>
        {{i.docname}}
    </td> 
 
        <td>
            
            <iframe src='{{ i.docfile.url }}' type='file/pdf'></iframe>
    </td>

  </tr>
  
  {% endfor %}
  </center>
</table>
</body>
</html>                
                              
{% endblock content %}